//@font-face {
//    font-family: 'Steelfish Rg';
//	src: url("fonts/SteelfishRg-Bold.woff2") format('woff2'),
//		url("fonts/SteelfishRg-Bold.woff") format('woff');
//    font-weight: bold;
//    font-style: normal;
//    font-display: swap;
//}

@font-face {
    font-family: 'Neue Metana';
    src: url('fonts/NeueMetana-Regular.woff2') format('woff2'),
        url('fonts/NeueMetana-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Metana';
    src: url('fonts/NeueMetana-Bold.woff2') format('woff2'),
        url('fonts/NeueMetana-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Light.woff2') format('woff2'),
        url('NeueMachina-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Regular.woff2') format('woff2'),
        url('NeueMachina-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Ultrabold.woff2') format('woff2'),
        url('NeueMachina-Ultrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Bigilla';
    src: url('fonts/BigillaRegular.woff2') format('woff2'),
        url('fonts/BigillaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bigilla';
    src: url('fonts/BigillaBold.woff2') format('woff2'),
        url('fonts/BigillaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

